.page {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr) .5fr 1fr 1fr;
    
}

.productImage {
    grid-column: 1 / 6;
    grid-row: 2 / 10;
    border: 1px solid black;
    border-radius: 1rem;
    object-fit: cover;
    margin: 4rem;

}

.productInfo {
    grid-column: 6 / 13;
    grid-row: 2 / 13;
    padding: 2rem 6rem;
    text-align: left;
    color: black;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.productInfo h1 {
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#price {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#strikethrough {
    text-decoration: line-through;
    font-weight: 600;
    color: #979797;
}

#description {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.gallery {
    grid-column: 1 / 6;
    grid-row: 11 / 13;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.galleryImage {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    margin: 0.5rem;
    margin-left: 1.75rem;
}

.galleryImage:hover {
    transform: scale(1.1);
    border: 2px solid black;
    opacity: 40%;
}

.galleryImage:focus {
    transform: scale(1.1);
    border: 2px solid black;
    opacity: 40%;
}

input {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    text-align: center;
}

#counterBtn {
    color: #FF7E1B;
    padding: 0.5rem 3rem;
    font-weight: 800;
}
